---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="icon.png"
			alt="DualChain"
		/>

		<div class="about__content">
			<Title margin="1rem" content="DualChain" />
			<p class="about__text">
				Dualchain is a pioneering force dedicated to driving the mission of carbon negativity and sustainability. At the heart of our operations lies a deep commitment to creating a greener, more equitable future through innovative projects that span environmental, financial, social, and technological domains.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
