---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogInsight from '@components/blog/BlogInsight.astro'
import blogHeroImg from '@images/hero-landing.png'
import HeroSection from '@components/ui/sections/HeroSection.astro'
import FeaturesSection from '@components/ui/sections/FeaturesSection.astro'
import HeroSectionAlt from '@components/ui/sections/HeroSectionAlt.astro'
import { slide } from 'astro:transitions'
import '../styles/global.css';



const posts: CollectionEntry<'posts'>[] = (await getCollection('posts')).sort(
    (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 3);
---

<BaseLayout>
    <FeaturesSection />
    <HeroSection 
    title= DualChain
    subTitle="The world’s carbon negative blockchain based exchange, supporting ethical companies and achieving global impact."
    primaryBtn='About'
    primaryBtnURL='https://info.dualchain.io/'
    secondaryBtn='Contact'
    secondaryBtnURL='/contact'
    src='/public/icon.png'
    alt="DualChain"
/>

    <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
        <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
            <h2 class="text-3xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight">
                Newsletter
            </h2>
            <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
                
            </p>
        </div>
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {
                posts.map(b => (
                    <BlogInsight blog={b} />
                ))
            }
        </div>
    </section>

    <HeroSection 
        title= DualChain
        subTitle=""
        primaryBtn='DualChain'
        primaryBtnURL='DualChain'
        secondaryBtn='DualChain'
        secondaryBtnURL='DualChain'
        src='/public/icon.png'
        alt="DualChain"
    />

    <HeroSectionAlt
        title="Get in touch"
        subTitle=""
        url="https://github.com/godruoyi"
    />
</BaseLayout>
